<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">NERO Bootcamp</h1>
      </div>
      <div class="col-lg-10 align-self-baseline">
        <h3></h3>
        <p class="text-white-75 font-weight-light mb-5">3 jours intensifs pour apprendre le Marketing Digital en pratiquant.
          <br>Analyse de données - SEO - Acquisition Payante.
                    
            <br>
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="programme.html">Voir le programme</a>
            <a class="btn btn-light btn-xl js-scroll-trigger second-cta" href="programme.html">Nous contacter</a>
          </div>
        </div>
      </div>
    </header>