<section class="pt-2 pb-5">
  <div class="container pb-4">
    <div class="row">
      <div class="col-sm col-programme text-center">
        <h4 class="title-bg text-center">Jour n°1 : Analytics &amp; SEO</h4>
        <ul>
          <li>
            <i class="fas fa-check icon-margin"></i>Analytics : Mesure et optimisations
          </li>
          <li>
            <i class="fas fa-check icon-margin"></i>Tag Manager : Mise en place du tracking
          </li>
          <li>
            <i class="fas fa-check icon-margin"></i>SEO : Contenu, Code et Popularité
          </li>
        </ul>
      </div>
      <div class="col-sm col-programme">
        <h4 class="title-bg text-center">Jour n°2 : Acquisition payante &amp; Dashboards</h4>
        <ul>
          <li>
            <i class="fas fa-check icon-margin"></i>Google Ads : Lancement de campagnes SEA
          </li>
          <li>
            <i class="fas fa-check icon-margin"></i>Facebook Ads : Meilleures tactiques Growth
          </li>
          <li>
            <i class="fas fa-check icon-margin"></i>Data Studio : Création de tableaux de bord
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-primary mt-4" href="programme.html">Voir le programme</a>
    </div>
  </div>
</section>