<section class="pt-2 pb-5">
  <div class="container pb-4">
    <div class="row">
      <div class="col-sm col-programme">
        <h4 class="title-bg text-center">Jour n°1 : Analytics</h4>
        <ul>
          <li>
            I. Google Analytics et Hotjar
          </li>
          <li>
            II. Tracking avec Tag Manager
          </li>
          <li>
            III. Extraction de données (Growth)
          </li>
        </ul>
      </div>
      <div class="col-sm col-programme">
        <h4 class="title-bg text-center">Jour n°2 : Référencement Naturel</h4>
        <ul>
          <li>
            IV. Audit SEO
          </li>
          <li>
            V. Optimisations SEO
          </li>
          <li>
            VI. Data Studio Analytics & SEO
          </li>
        </ul>
      </div>
      <div class="col-sm col-programme">
        <h4 class="title-bg text-center">Jour n°3 : Acquisition payante</h4>
        <ul>
          <li>
            VII. Optimisation de landing pages
          </li>
          <li>
            VIII. Campagnes Google Ads
          </li>
          <li>
            IX. Campagnes Facebook Ads
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-primary mt-4" href="programme.html">Programme en détail</a>
    </div>
  </div>
</section>