<section class="pt-5 pb-5">
  <div class="container pb-5 pt-3">
    <h2 class="text-center mt-0 customfont-semibold">Présentation du Bootcamp</h2>
    <hr class="divider my-4">
      <div class="row mt-5 pt-3">
        <div class="col-12 col-md-5 col-lg-6 align-items-center">
          <!-- Image --><%= show_svg('goals.svg') %>
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1">
          <h2 class="customfont-semibold">
              Programme adapté à vos besoins.
            <br>
              <span class="text-primary">Trois jours intensifs</span>.
            
            </h2>
            <p class="font-size-lg text-gray-700 mb-6">
                    Le marketing digital se compose aujourd'hui d'incontournables tels que Analytics, le SEO, Google Ads et Facebook Ads. Après avoir réalisé plus de 200 formations, nous avons élaboré un programme optimal sur 3 jours complets à destinations des entreprises prêtes à déployer ou challenger leur stratégie d'acquisition.
                </p>
            <div class="d-flex">
              <div class="pr-5">
                <h3 class="mb-0">
                  <span data-toggle="countup" data-from="0" data-to="100" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">93</span>%
                
                </h3>
                <p class="text-gray-700 mb-0">
                            Satisfaction
                        </p>
              </div>
              <div class="border-left border-gray-300"></div>
              <div class="px-5">
                <h3 class="mb-0">
                  <span data-toggle="countup" data-from="0" data-to="24" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">24</span>/
                  
                  <span data-toggle="countup" data-from="0" data-to="7" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">7</span>
                </h3>
                <p class="text-gray-700 mb-0">
                            Support
                        </p>
              </div>
              <div class="border-left border-gray-300"></div>
              <div class="pl-5">
                <h3 class="mb-0">
                  <span data-toggle="countup" data-from="0" data-to="100" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">200</span>+
                
                </h3>
                <p class="text-gray-700 mb-0">
                            Formations
                        </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>