<section class="bg-gray-200 py-5 mb-5">
  <div class="container d-flex justify-content-around py-5">
    <div class="column">
      <div class="card rounded-lg shadow-lg mb-6 mb-md-0 aos-init aos-animate" style="z-index: 1;width: 30rem" data-aos="fade-up">
        <!-- Body -->
        <div class="card-body py-6 py-md-8">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="text-center my-2">
                <span class="h6 font-weight-light text-uppercase">Offre unique</span>
              </div>
              <!-- Price -->
              <div class="d-flex justify-content-center">
                <span class="price display-2 mb-0 font-weight-normal" data-annual="29" data-monthly="49">790</span>
                <span class="h2 mb-0 mt-2 font-weight-light">€</span>
                <br>
                </div>
                <ul>
                  <li class="li-center">
                    <i class="fas fa-chevron-right icon-margin"></i>Formation complète de 14h
                  </li>
                  <li class="li-center">
                    <i class="fas fa-chevron-right icon-margin"></i>Ressources fournies
                  </li>
                  <li class="li-center">
                    <i class="fas fa-chevron-right icon-margin"></i>Exercices sur-mesure
                  </li>
                  <li class="li-center">
                    <i class="fas fa-chevron-right icon-margin"></i>8 participants par session
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Button -->
        <a href="#" class="card-btn btn btn-block btn-lg btn-primary rounded-bottom">
               Je veux m'inscrire
              </a>
      </div>
    </div>
  </section>