  <!-- Team -->
<section class="pt-5 pb-5">
  <div class="container pb-5 pt-3">
    <h2 class="text-center mt-0 customfont-semibold">Les formateurs</h2>
    <hr class="divider my-4">
      <div class="row mt-5 pt-3 justify-content-around px-5">
        <div class="col-sm-5">
          <div class="team-member">
            <%= image_tag "olivier.jpg", alt: "Olivier Pajuelo", :class => 'rounded-circle' %>
            <h4>Olivier Pajuelo</h4>
            <p class="text-muted px-5">Fort de 4 années dans l'univers Google, Olivier a formé plus de 1000 entrepreneurs à travers la France.</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="team-member">
            <%= image_tag "naile.jpg", alt: "Naïlé Titah", :class => 'rounded-circle' %>
            <h4>Naïlé Titah</h4>
            <p class="text-muted px-5">Autodidacte et Entrepreneur, Naïlé a été responsable du programme de formation de Google à Station F.</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>