.bg-gray-200 {
    background-color: #f1f4f8!important;
}
.gray-curved-border {
  background: #f1f4f8;
  border: 3px solid #f1f4f8;
  box-shadow: inset 0px -1px 0px #f1f4f8; /* just to make the bottom border look thicker */
  margin-bottom: 4px;
}
.white-curved-border {
  background: #fff;
  border: 3px solid #fff;
  box-shadow: inset 0px -1px 0px #fff; /* just to make the bottom border look thicker */
  margin-bottom: 4px;
}
.top-curved {
  border-radius: 1500% 1500% 280% 280%/280% 280% 0% 0%;
  padding-top: 10vh;
  padding-bottom: 5vh;
}
.bottom-curved {
border-radius: 280% 280% 1500% 1500%/0% 0% 280% 280%;
padding-top: 5vh;
padding-bottom: 10vh;
}
.down-curved {
  border-radius: 0% 0% 100% 100%/0% 0% 30% 30%;
 }
 .leftside-curved {
    border-radius: 1500% 0% 0% 0%/4400% 280% 100% 100%;
    padding-top: 10vh;
    padding-bottom: 5vh;
 }
.updown-curved {
  margin-bottom: 100px;
}
.col-sm.col-programme {
    padding: 0px;
    margin: 0rem 1rem;
    box-shadow: 1px 1px 15px 2px #00000020;
}
ol, ul, dl {
    margin-top: 0;
    /* margin-bottom: 0.5rem; */
    padding: 0.5rem 1.5rem;
}
li {
    display: flex;
    margin: 15px 0px;
    text-align: initial;
    text-align: center;
}
.title-bg {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(215, 33, 57);
    width: 100%;
    border-color: rgb(215, 33, 57);
    padding: 10px;
}
hr.divider {
    max-width: 3.25rem;
    background-color: rgb(215, 33, 57);
    border-width: 0.2rem;
}
.icon-margin {
    margin-right: 8px;
    padding: 2px;
}
.card {
	border:none!important;
}
.customfont-light {
	font-family:  'Oswald';
}
.customfont-medium {
	font-family:  'Oswald';
}
.customfont-regular {
  font-family: 'Oswald';
}
.customfont-semibold {
	font-family: 'Oswald';
	font-weight: 600!important;
}
.customfont-bold {
	font-family:  'Oswald';
}
.btn-secondary-bis {
    color: #3c3c3c;
    background-color: #f2f2f2!important;
    border-color: #f2f2f2!important;
}
.logo-img {
  width: 13vh;
}

/* Slider Config */
.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.img-testimonial {
  width: 100%;
}
.testimonial-slide {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes slide-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* MASTHEAD */

header.masthead {
  /*
  background: #00B4DB; 
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB); 
  background: linear-gradient(to right, #0083B0, #00B4DB); 
  */
  background: linear-gradient(to bottom, #343434a8, #2d2d2dab), image-url('bg-masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 80vh;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.2rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.6rem;
    letter-spacing: -2px;
    font-family: sans-serif;
  }
}
.text-white-75 {
  color: rgba(255, 255, 255, 0.95);
  font-family: inherit;
}


/* TEAM */

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid rgba(0,0,0,.1);
    margin-bottom:20px;
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}
.col-sm-4 {
    max-width: none;
}

/* TIMELINE */

.timeline{
    position:relative;
    padding:0;
    list-style:none
}
.timeline:before{
    position:absolute;
    top:0;
    bottom:0;
    left:40px;
    width:2px;
    margin-left:-1.5px;
    content:'';
    background-color:#e9ecef
}
.timeline>li{
    position:relative;
    min-height:50px;
    margin-bottom:50px
}
.timeline>li:after,.timeline>li:before{
    display:table;
    content:' '
}
.timeline>li:after{
    clear:both
}
.timeline>li .timeline-panel{
    position:relative;
    float:right;
    width:100%;
    padding:0 20px 0 100px;
    text-align:left
}
.timeline>li .timeline-panel:before{
    right:auto;
    left:-15px;
    border-right-width:15px;
    border-left-width:0
}
.timeline>li .timeline-panel:after{
    right:auto;
    left:-14px;
    border-right-width:14px;
    border-left-width:0
}
.timeline>li .timeline-image{
    position:absolute;
    z-index:100;
    left:0;
    width:80px;
    height:80px;
    margin-left:0;
    text-align:center;
    color:#fff;
    border:7px solid #e9ecef;
    border-radius:100%;
    background-color:#fed136
}
.timeline>li .timeline-image h4{
    font-size:10px;
    line-height:14px;
    margin-top:12px
}
.timeline>li.timeline-inverted>.timeline-panel{
    float:right;
    padding:0 20px 0 100px;
    text-align:left
}
.timeline>li.timeline-inverted>.timeline-panel:before{
    right:auto;
    left:-15px;
    border-right-width:15px;
    border-left-width:0
}
.timeline>li.timeline-inverted>.timeline-panel:after{
    right:auto;
    left:-14px;
    border-right-width:14px;
    border-left-width:0
}
.timeline>li:last-child{
    margin-bottom:0
}
.timeline .timeline-heading h4{
    margin-top:0;
    color:inherit
}
.timeline .timeline-heading h4.subheading{
    text-transform:none
}
.timeline .timeline-body>p,.timeline .timeline-body>ul{
    margin-bottom:0
}
@media (min-width:768px){
    .timeline:before{
        left:50%
    }
    .timeline>li{
        min-height:100px;
        margin-bottom:100px
    }
    .timeline>li .timeline-panel{
        float:left;
        width:41%;
        padding:0 20px 20px 30px;
        text-align:right
    }
    .timeline>li .timeline-image{
        left:50%;
        width:100px;
        height:100px;
        margin-left:-50px
    }
    .timeline>li .timeline-image h4{
        font-size:13px;
        line-height:18px;
        margin-top:16px
    }
    .timeline>li.timeline-inverted>.timeline-panel{
        float:right;
        padding:0 30px 20px 20px;
        text-align:left
    }
}
@media (min-width:992px){
    .timeline>li{
        min-height:150px
    }
    .timeline>li .timeline-panel{
        padding:0 20px 20px
    }
    .timeline>li .timeline-image{
        width:150px;
        height:150px;
        margin-left:-75px
    }
    .timeline>li .timeline-image h4{
        font-size:18px;
        line-height:26px;
        margin-top:30px
    }
    .timeline>li.timeline-inverted>.timeline-panel{
        padding:0 20px 20px
    }
}
@media (min-width:1200px){
    .timeline>li{
        min-height:170px
    }
    .timeline>li .timeline-panel{
        padding:0 20px 20px 100px
    }
    .timeline>li .timeline-image{
        width:170px;
        height:170px;
        margin-left:-85px
    }
    .timeline>li .timeline-image h4{
        margin-top:40px
    }
    .timeline>li.timeline-inverted>.timeline-panel{
        padding:0 100px 20px 20px
    }
}