<% if flash[:success] %>
	<div class="container alert alert-success text-center mt-4" role="alert"><%= flash[:success]%></div>
<% elsif flash[:danger] %>
	<div class="container alert alert-danger text-center mt-4" role="alert"><%= flash[:danger] %></div>
<% elsif flash[:notice] %>
	<div class="container alert alert-warning text-center mt-4" role="alert"><%= flash[:notice] %></div>
<% end %>